<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect non-www to www
    # Update domain to match the domain of the hosted app.
    #RewriteCond %{HTTP_HOST} ^www.numbersq.com$
    #RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    RewriteCond %{HTTP_HOST} ^numbersq.com$
    RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    RewriteCond %{HTTP_HOST} ^www.metricriv.com$
    RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    RewriteCond %{HTTP_HOST} ^metricriv.com$
    RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    RewriteCond %{HTTP_HOST} ^www.metricsriv.com$
    RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    RewriteCond %{HTTP_HOST} ^metricsriv.com$
    RewriteRule ^(.*) https://www.numbersq.com/$1  [QSA,L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
