html,
body {
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}

main {
    text-align: center;
}

main h1 {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
    color: #9aa0ac;
}

main h2 {
    margin-bottom: 0;
}

main p {
    margin-top: 8px;
    margin-bottom: 40px;
}

